body {
  font-family: "Arial", sans-serif;
  background-color: #e9eff1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header {
  background: #5de4cd;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#name {
  display: flex;
  justify-content: center;
  padding: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #5de4cd;
}

#message-list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column-reverse;
}

#message-list li {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 75%;
}

#message-list li.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

#message-list li.received {
  background-color: #f1f1f1;
  align-self: flex-start;
}

#message-button {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

input[type="text"].message-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #5de4cd;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(91, 223, 168);
}
